body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout styles start*/
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: lightskyblue;
}

nav > a:last-child {
  margin-left: auto;
}

#detail {
  flex: 1;
  padding: 1rem;
  background-color: yellow;
}
/* Layout styles end*/

/* Login styles start */
.login-con {
}

/* Login styles start */
