:root {
  --primary: #87cefa;
  --secondary: #d3ebfb;
  --tertiary: #42657a;
  --alt: #67737a;
  --primaryComp: #faca87;
  --secondaryComp: #ad7e3b;
  --radius: 6px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout styles start*/
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: lightskyblue;
}

nav > a {
  color: var(--tertiary);
  font-weight: bold;
  text-decoration: none;
}

nav > a:first-child {
  margin-right: 1rem;
}

nav > a:last-child {
  margin-left: auto;
}

nav > button {
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
  color: var(--tertiary);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

nav > button:hover {
  cursor: pointer;
}

#detail {
  flex: 1;
  padding: 1rem;
}
/* Layout styles end*/

/* Modal styles start */
.modal {
  position: absolute;
  z-index: 99;
}
/* Modal styles end */

/* Home styles start */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home > h1 {
  color: var(--tertiary);
}

.home > h2 {
  color: var(--alt);
  text-align: right;
}
/* Home styles end */

/* Login styles start */
.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--alt);
}

.login > img {
  height: 35vh;
  object-fit: cover;
  border-radius: var(--radius);
}

.login > h1 {
  text-align: center;
}

.login > p {
  font-weight: bold;
}

.login > input {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: var(--radius);
  background-color: var(--secondary);
}

.login > button {
  height: 3rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: var(--radius);
  font-weight: bold;
}

.login > button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary);
  color: var(--tertiary);
}

.button-secondary {
  background-color: var(--tertiary);
  color: white;
}
/* Login styles end */

/* Dashboard styles start */
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard > h2 {
  color: var(--alt);
}

.dashboard-search {
  padding: 0.5rem;
  border: solid var(--alt) 1px;
  border-radius: var(--radius);
  color: var(--tertiary);
  background-color: var(--secondary);
}

.task {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: var(--radius);
  color: var(--secondary);
  background-color: var(--tertiary);
}

.task:hover {
  cursor: pointer;
}

.task > span {
  margin-right: auto;
}

.task > button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: var(--radius);
}

.task > button:hover {
  cursor: pointer;
}

.task-create {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border: none;
  border-radius: var(--radius);
  background-color: var(--primary);
}

.task-create:hover {
  cursor: pointer;
}

.task-edit {
  color: var(--tertiary);
  background-color: var(--secondary);
}

.task-delete {
  color: var(--secondaryComp);
  background-color: var(--primaryComp);
}
/* Dashboard styles end */
